:root {
  --bone: #e0dbc7;
  --deep-sky-blue: #00a2ff;
  --portal-orange: #f0ad4e;
  --nero: #202020;
  --dissipate: #294d67;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: var(--bone);
  font-family: 'CMU Serif Regular';
  font-size: 24px;
  color: black;
  letter-spacing: 2px;

  margin: 0 0 300px;
}
